.App {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 900px;
  }
  
  .form-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  select {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="number"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    width: 50px;
  }
  
  button[type="submit"] {
    background-color: #4fa94d;
  }
